# folders
.vscode
.venv
.pytest_cache
__pycache__
staticfiles
build

# files
cse_archive.log
set_env_vars.sh
.env

# media folder
media/*
!media/admin-interface
media/admin-interface/*
!media/admin-interface/favicon
media/admin-interface/favicon/*
!media/admin-interface/favicon/favicon.ico
!media/admin-interface/logo
media/admin-interface/logo/*
!media/admin-interface/logo/logo.png
