body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-color: #3E7FA9;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 25px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
  font-size: 15px;
}

.hyperlink {
  color: #394955;
  background-color: transparent;
  text-decoration: none;
}

hr {
  margin: auto;
  width: 40%;
}